.button {
  padding: 20px 30px;
  background-color: #414141;
  color: #ffffff;
  border: 0;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: #272727;

  }
}